html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #CFC0C5;
}

/*Navigation CSS*/
nav {
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  top: 0;
}

.logo img {
  margin-top: 5px;
  margin-left: 20px;
  float: left;
  width: 70px;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Sitka Banner", serif;
  font-size: 15pt;
}

li {
  float: right;
}

a {
  padding: 20px;
  width: 100px;
  display: block;
  text-decoration: none;
  color: #564145;
  font-weight: bold;
}

/*HJEM*/
#section1 {
  height: 800px;
  background-image: url(../images/flowers-compressed2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  display: inline-block;
  width: 100%;
  color: #564145;
  font-family: "Sitka Banner", serif;
  font-size: 70px;
  text-align: center;
  padding-top: 200px;
  }

/*Billede animation CSS*/
  #cf {
    position: relative;
    height: 500px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 60%;
  }

  #cf img {
    position: absolute;
    transition: 0.5s ease-in-out;
  }

  #cf img.top:hover {
    opacity:0;
  }

/*OM MIG*/
#section2 {
  height: 1600px;
  display: inline-block;
  background: rgb(131,102,96);
  background: linear-gradient(180deg, rgba(131,102,96,1) 0%, rgba(184,153,159,1) 50%, rgba(207,192,197,1) 100%);
  width: 100%;
  font-family: "Sitka Banner", serif;
}

.about {
  font-family: "Raleway";
  font-size: 12pt;
  color: #564145;
  text-align: left;
  display: inline-block;
  font-size: 15px;
	margin-top: 12%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 4%;
	line-height: 1.5;
  border: 2px solid #EBEBEB;
  border-radius: 12px;
	}

  h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    letter-spacing: 2px;

  }

  .skills {
    margin: 10px;
    padding: 50px;
    border: 2px solid green;
    font-family: "Raleway";
  }


/*PORTFOLIO*/
#section3 {
  height: 1800px;
  background: rgb(207,192,197);
  background: linear-gradient(180deg, rgba(207,192,197,1) 0%, rgba(207,192,197,1) 50%, rgba(228,216,221,1) 100%);
  display: inline-block;
  width: 100%;
  font-family: "Sitka Banner", serif;
}





h1 {
  align-items: center;
  padding: 9px;
  margin-left: 0;
  color: #CFC0C5;
  background: #554044;
  opacity: 80%;

}

h1 span {
display: table-cell;
margin: 0;
padding: 0;
animation: animate 15s linear;
}

h1 span:nth-child(1) {
  animation-delay: 0s;
}
h1 span:nth-child(2) {
  animation-delay: 0.25s;
}
h1 span:nth-child(3) {
  animation-delay: 0.5s;
}
h1 span:nth-child(4) {
  animation-delay: 0.75s;
}
h1 span:nth-child(5) {
  animation-delay: 1s;
}
h1 span:nth-child(6) {
  animation-delay: 1.25s;
}
h1 span:nth-child(7) {
  animation-delay: 1.5s;
}
h1 span:nth-child(8) {
  animation-delay: 1.75s;
}

@keyframes animate {
  0%,100%
  {
    color: #CFC0C5;
    filter: blur(2px);
    text-shadow: 0 0 10px #83666C,
                0 0 20px #83666C,
                0 0 40px #83666C,
                0 0 80px #83666C,
                0 0 120px #83666C,
                0 0 200px #83666C,
                0 0 300px #83666C,
                0 0 400px #83666C;

  }
  5%,95%
  {
    color: #E4D8DD;
    filter: blur(0px);
    text-shadow: none;
  }

}

h2 {
  margin: 0;
  text-align: center;
  padding: 0;
  font-size: 110pt;
  color: #B8999F;
  background-color: #554044;
  opacity: 80%;
}

h3 {
  margin: 0;
  text-align: center;
  padding-top: 20px;
  font-size: 56pt;
  color: #554044;

}

/*Footer*/
footer {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Raleway";
  background-color: #CFC0C5;

}

.contact {
  margin: 0;
  padding: 20px;
  text-align: left;
}


/*FACEBOOK*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 17px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #D6DDE3;
  color: white;
}

/*INSTAGRAM*/
.fa-instagram {
  background: #D6DDE3;
  color: white;
}

/*PINTEREST*/
.fa-pinterest {
  background: #D6DDE3;
  color: white;
}
